<div class="footer">
    <div class="container">
        <div class="row justify-content-between gy-5">
            <div class="col-md-4 ">
                <div>
                    <img src="../../../assets/images/sample logo 1.png" alt="logo">
                    <p>Nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    <div class="icon d-flex justify-content-between align-items-center">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-linkedin"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-youtube"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                 
                <ul>
                    <li class="heading">Company</li>
                    <li>HOME</li>
                    <li>ABOUT US</li>
                    <li>BOOKS </li>
                    <li>NEW RELEASE</li>
                    <li>CONTACT US</li>
                    <li>BLOG</li>
                </ul>
            </div>
            <div class="col-md-3 ">
                
                <ul>
                    <li class="heading">Importent Links</li>
                    <li>Privacy Policy</li>
                    <li>FAQs </li>
                    <li>Terms of Service</li>
                </ul>
            </div>
        </div>

        <div class="copy-right d-flex align-items-center justify-content-between pt-5">
            <p>© 2022 Arihant. All Rights Reserved.
               </p>
               <p>  Privacy | Terms of Service</p>
        </div>
    </div>
</div>