<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand" >
        <img src="../../../assets/images/Vector.svg" alt="logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link"  ><span class="logo"></span></a>
          </li>
        </ul>
        <ul class="navbar-nav ms-0 mb-2 mb-lg-0">
            <li class="nav-item">
                <i class="fa-regular fa-user me-3"></i>
                <span class="space">|</span>
                <i routerLink="/Cart" class="fa-solid fa-bag-shopping mx-3"></i>
                <span class="space">|</span>
                <i class="fa-regular fa-heart ms-3"></i>
            </li>
          </ul>
       
      </div>
    </div>
  </nav>





  <div class="link-home ">
    <h6><span routerLink="/home/landing">HOME  </span>/  PRODUCTS</h6>
  </div>