<nav>
    <div class="container">
        <div class="content ">
            <div class="phone">
                <i class="fa-solid fa-phone "></i>
                <span class="mx-2">+91 8374902234</span>
            </div>
            <div class="icon">
                <i class="fa-brands fa-facebook-f me-4"></i>
                <i class="fa-brands fa-instagram mx-4"></i>
                <i class="fa-brands fa-linkedin-in mx-4"></i>
                <i class="fa-brands fa-twitter ms-4"></i>
                
            </div>
        </div>
    </div>
 </nav>