 <section>
    <div class="container">
        <div class="row  ">
            <div class="col-lg-6 g-0 col1" >
                <div class="image-section ">
                    <img src="../../assets/images/Picture.png" alt="Background Image">
                </div>
            </div>
    
    
            <div class="col-lg-6 g-0">
              <div class="form-section">
                <div class="form-section-heading">
                     <div class="logo">
                        <img src="../../assets/images/Logo.png" alt="logo">
                     </div>
                    <p>Create new acccount</p>
                    <h3>Register</h3>
                </div>

                <form class="pt-4"  [formGroup]="registerForm" (ngSubmit)="handleRegisterForm(registerForm)" >
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>First Name</mat-label>
                                <input formControlName="first_name" matInput placeholder="First Name"  >
                              </mat-form-field>


                              <div *ngIf="registerForm.get('first_name')?.errors &&  registerForm.get('first_name')?.touched" class="errors" >
                                <p *ngIf="registerForm.get('first_name')?.getError('minlength') " class="m-0">*first name minlength is 3</p>
                                <p *ngIf="registerForm.get('first_name')?.getError('maxlength')" class="m-0">*first name maxlength is 10</p>
                                <p *ngIf="registerForm.get('first_name')?.getError('required')" class="m-0">*first name is required</p>
                               </div>


                        </div>
                        <div class="col-md-6">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Last Name</mat-label>
                                <input formControlName="last_name" matInput placeholder="Last Name">
                              </mat-form-field>


                              <div *ngIf="registerForm.get('last_name')?.errors &&  registerForm.get('last_name')?.touched"  class="errors" >
                                <p *ngIf="registerForm.get('last_name')?.getError('minlength') " class="m-0">*last name minlength is 3</p>
                                <p *ngIf="registerForm.get('last_name')?.getError('maxlength')" class="m-0">*last name maxlength is 10</p>
                                <p *ngIf="registerForm.get('last_name')?.getError('required')" class="m-0">*last name is required</p>
                               </div>


                        </div>
                    </div>


                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>E-mail</mat-label>
                        <input formControlName="email" matInput type="email" placeholder="Enter your Email" >
                      </mat-form-field>


                      <div *ngIf="registerForm.get('email')?.errors &&  registerForm.get('email')?.touched"  class="errors" >
                        <p *ngIf="registerForm.get('email')?.getError('maxlength')" class="m-0">*This email is incorrect</p>
                        <p *ngIf="registerForm.get('email')?.getError('required')" class="m-0">*email is required</p>
                       </div>




                      <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Password</mat-label>
                        <input formControlName="password" matInput type="password" placeholder="Enter your Password" >
                      </mat-form-field>



                      <div *ngIf="registerForm.get('password')?.errors &&  registerForm.get('password')?.touched"  class="errors" >
                        <p *ngIf="registerForm.get('password')?.getError('minlength') " class="m-0">*Password minlength is 8</p>
                        <p *ngIf="registerForm.get('password')?.getError('required')" class="m-0">*Password is required</p>
                       </div>



                      <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Role</mat-label>
                        <mat-select formControlName="role">
                            <mat-option value="Admin">Admin</mat-option>
                            <mat-option value="Customer">Customer</mat-option>
                          </mat-select>
                      </mat-form-field>

                      
                      <div *ngIf="registerForm.get('role')?.errors &&  registerForm.get('role')?.touched"  class="errors" > 
                        <p *ngIf="registerForm.get('role')?.getError('required')" class="m-0">*role is required</p>
                       </div>




                      <button class="btn1" type="submit">
                        <span *ngIf="!isLoading">Register</span>
                        <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
                      </button>
                      <button routerLink="/login" class="btn2" type="button">Login</button>

                </form>
              </div>
            </div>
    
        </div>
       
        
    </div>
 </section>
